/*---------------------------------
 *	News slider > Vertical
 *---------------------------------*/
.newslider-vertical{width:820px;height:320px;}

/* Nav */
.newslider-vertical .sliderkit-nav{width:200px;height:295px;}
.newslider-vertical .sliderkit-nav-clip li{height:30px;width:190px;margin-bottom:5px;}
.newslider-vertical .sliderkit-nav-clip li.sliderkit-selected{background:#93cee9;}
.newslider-vertical .sliderkit-nav-clip li a{height:25px;width:180px;padding: 5px 0 0 5px;text-align:left;font-size:0.9em;color:#262627;text-decoration:none;background-color:#eff0f1;}
.newslider-vertical .sliderkit-nav-clip li a:hover{background:#93cee9;color:#262627;}
.newslider-vertical .sliderkit-nav-clip li a:focus{color:#fff;}

/* Panel */
.newslider-vertical .sliderkit-panels{position:absolute;left:200px;width:780px;height:320px;overflow:hidden;}
.newslider-vertical .sliderkit-panel{left:0;top:0;width:600px;height:320px;padding:10px;background-color:#fff;}

/* News block */
.newslider-vertical .sliderkit-news h3,
.newslider-vertical .sliderkit-news h3 a{color:#262627;font-weight:bold;}
.newslider-vertical .sliderkit-news h3{font-size:1.2em;margin:0 0 15px;}
.newslider-vertical .sliderkit-news img{float:right;width:130px;height:auto;margin:0 0 0 10px;overflow:hidden;}
.newslider-vertical .sliderkit-news p
{
font-family:"Noto Sans", Sans;
font-size:.9em;
line-height:1.4em;
text-align:justify;
text-justify:newspaper;
}
.newslider-vertical .sliderkit-news-readmore{position:absolute;right:10px;bottom:10px;}
