[Desktop Entry]
GenericName=Welcome to OpenMandriva
Name=om-welcome
Exec=/usr/bin/om-welcome-launcher
X-KDE-StartupNotify=true
X-KDE-HasTempFileOption=true
Icon=openmandriva
Type=Application
Terminal=false
Categories=Qt;KDE;
